if TARGET_AXON_IMX6

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "axon-imx6"

config SYS_VENDOR
	default "technexion"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "axon-imx6"

endif
