if TARGET_PICOSOM_IMX6_ANDROID

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "picosom-imx6-android"

config SYS_VENDOR
	string
	default "technexion"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "picosom-imx6-android"

endif
