if TARGET_PICO_IMX8MM

config SYS_BOARD
	default "pico-imx8mm"

config SYS_VENDOR
	default "technexion"

config SYS_CONFIG_NAME
	default "pico-imx8mm"

source "board/technexion/common/Kconfig"

endif
