/*
 * Copyright 2018 TechNexion Ltd.
 * Copyright 2018 NXP
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *         Ray Chang <ray.chang@technexion.com>
 *	   Andy Lin <andy.lin@technexion.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "imx8mm-xore.dtsi"

/ {
	model = "TechNexion XORE-IMX8MM and XORE-WIZARD baseboard";
	compatible = "fsl,imx8mm-xore", "fsl,imx8mm";

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg_vbus: usb_otg_vbus {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_otg_vbus>;
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 9 GPIO_ACTIVE_LOW>;
		};

		reg_backlight_pwr: regulator_blpwr {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_backlight_pwr>;
			compatible = "regulator-fixed";
			regulator-name = "backlight_pwr";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		led {
			label = "gpio-led";
			gpios = <&gpio3 24 0>;
			default-state = "on";
		};
	};
};

&iomuxc {
	imx8mm-xore {
		pinctrl_otg_vbus: otgvbusgrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO09_GPIO1_IO9	0x19 /* USB OTG VBUS Enable */
			>;
		};

		pinctrl_backlight_pwr: backlight_pwrgrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12	0x19
			>;
		};

		pinctrl_tusb320_irq: tusb320_irqgrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8	0x41 /* GPIO_P258, TUSB320 INT*/
			>;
		};

		pinctrl_csi_pwn: csi_pwn_grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6	0x19
			>;
		};

		pinctrl_csi_rst: csi_rst_grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO05_GPIO1_IO5		0x19
				MX8MM_IOMUXC_GPIO1_IO14_CCMSRCGPCMIX_CLKO1	0x59
			>;
		};

		pinctrl_mipi_dsi_rst: mipi_dsi_rstgrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11	0x16 /* DSI RST */
			>;
		};

		pinctrl_ft5336_touch_irq: ft5336_irqgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4		0x19 /* GPIO_P256, Touch INT */
			>;
		};

		pinctrl_ft5336_touch_rst: ft5336_rstgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20	0x16 /* GPIO_P256, Touch RST */
			>;
		};

		pinctrl_gpio_led: gpioledgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24	0x19
			>;
		};
		
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

 
	typec_tusb320:tusb320@67 {
		compatible = "ti,tusb320";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tusb320_irq>;
		reg = <0x67>;
		vbus-supply = <&reg_usb_otg_vbus>;
		tusb320,int-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
		tusb320,select-mode = <0>;
		tusb320,dfp-power = <0>;
	};

};

&lcdif {
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	extcon = <&typec_tusb320>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

/* Baseboard microSD slot */
&usdhc2 {
	status = "okay";
};
