if TARGET_PICO_IMX6UL_NAND

config SYS_BOARD
	default "pico-imx6ul-nand"

config SYS_VENDOR
	default "technexion"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "pico-imx6ul-nand"

endif
