if TARGET_EDM_G_IMX8MM

config SYS_BOARD
	default "edm-g-imx8mm"

config SYS_VENDOR
	default "technexion"

config SYS_CONFIG_NAME
	default "edm-g-imx8mm"

source "board/technexion/common/Kconfig"

endif
